html, body, main {
    height: 100%;
    margin: 0;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    opacity: 0.6;
    border-top: solid 1px #aaaaaa;
}

header p {
    height: 50px;
    line-height: 50px;
    margin: 0;
    font-family: "Lucida Grande", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
}

@media screen and (max-width: 500px) {
    header a {
        display: none;
    }
}

a {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
